let states = load('misal.database.states')
let distances = load('misal.database.dist')
let transforms = load('misal.database.transforms')
let actions = load('misal.database.actions')

let path_to_metadata = 'path_to_metadata'
let metadata = states.Metadata(path_to_metadata)
let preprocessed = states.Preprocessed({'str': 'dict'})
let index = states.Index(('tuple', 'of', 'str'), distances.dist)

let add = actions.Add(metadata, preprocessed, index)
let search = actions.Search(preprocessed, index)

export add
export search
